@page
@inherits Volo.Abp.EditionManagement.Web.Pages.EditionManagementPage
@model Volo.Abp.EditionManagement.Web.Pages.EditionManagement.IndexModel
@{
}
<h1>EditionManagement</h1>
<p>A sample page for the EditionManagement module.</p>