@page
@inherits Volo.Abp.IdentityServer.Web.Pages.IdentityServerPage
@model Volo.Abp.IdentityServer.Web.Pages.IdentityServer.IndexModel
@{
}
<h1>IdentityServer</h1>
<p>A sample page for the IdentityServer module.</p>