@page
@inherits Volo.Abp.AuditLogging.Web.Pages.AuditLoggingPage
@model Volo.Abp.AuditLogging.Web.Pages.AuditLogging.IndexModel
@{
}
<h1>AuditLogging</h1>
<p>A sample page for the AuditLogging module.</p>